        <div class="mobile-swipe-container" id="mobileSwipeContainer">
            <!-- ?섏씠吏 1: ?꾨줈??+ ??궧?꾨ℓ移?-->
            <div class="mobile-swipe-page" data-page="0" id="swipePage0"></div>
            
            <!-- ?섏씠吏 2: ?좎?紐⑸줉 -->
            <div class="mobile-swipe-page" data-page="1" id="swipePage1"></div>
            
            <!-- ?섏씠吏 3: ?援?쨷???援?떎紐⑸줉 -->
            <div class="mobile-swipe-page" data-page="2" id="swipePage2"></div>
            
            <!-- ?섏씠吏 4: ??궧蹂대뱶 -->
            <div class="mobile-swipe-page" data-page="3" id="swipePage3"></div>
            
            <!-- ?섏씠吏 5: 梨꾪똿李?-->
            <div class="mobile-swipe-page" data-page="4" id="swipePage4"></div>
        </div>
