    <div id="gameResponseModal" class="stats-modal">
        <div class="stats-modal-content">
            <div class="stats-modal-header">
                <div class="stats-modal-title">대국신청 수신</div>
            </div>
            <div class="game-response-body">
                <div class="request-sender-info">
                    <div class="user-avatar" id="senderAvatar">?</div>
                    <div class="sender-details">
                        <div id="senderNickname" class="sender-nickname">상대 유저</div>
                        <div id="senderMode" class="sender-mode">모드: 전략</div>
                    </div>
                </div>
                <div id="senderMessage" class="sender-message">"대국신청을 보냈습니다."</div>
                <div class="ai-battle-actions">
                    <button class="btn btn-primary" id="acceptRequestBtn">수락</button>
                    <button class="btn btn-danger" id="rejectRequestBtn">거절</button>
                </div>
            </div>
        </div>
    </div>
