<!-- Turn Indicator Panel -->
<div class="info-panel">
    <div class="panel-title">
        <div class="panel-title-text">수순</div>
    </div>
    <div class="turn-indicator-sidebar" id="turnIndicator">
        <div class="turn-label">수순</div>
        <div class="turn-number" id="turnNumber">0</div>
        <div class="turn-color" id="turnColor">-</div>
    </div>
</div>

